<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>

<body>
    <% if (today === 'Saturday' || today === 'Sunday') { %>
    <h1 style="color: purple"><%= today %> To-Do List</h1>
    <% } else { %>
    <h1 style="color: blue"><%= today %> To-Do List</h1>
    <% } %>
</body>

</html>